.header {
    background-color: slategray;
    filter: drop-shadow(5px 5px 5px gray);
}

.header--list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.header--list-item {
    display: flex;
    align-items: center;
}

.header--list-item:hover {
    cursor: pointer;
}