/*COLORS
Dark Purple - 160C28
Orange Yellow Crayola - EFCB68
Honeydew - E1EFE6
Ash Gray - AEB7B3
Rich Black FOGRA 29 - 000411
*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
    background-color: #EFCB68;
}

h1, h2 {
    text-align: center;
    color: #160C28;
}

#form-container {
    display: flex;
    justify-content: center;
}

#form-container form {
    display: none;
    background-color: #E1EFE6;
    box-shadow: 0 4px 8px 0;
    border-radius: 5px;
    height: 75vh;
    width: 35vw;
    margin: 3vh auto;
    padding: 10px;
    position: relative;
}

#form-container form label {
    font-size: 1.2rem;
    margin-left: 2.25vw;
    color: #160C28;
}

#form-container form input {
    display: block;
    width: 30vw;
    height: 5vh;
    margin: 2.5vh auto;
    border: none;
}

#form-container form input:focus {
    outline: none;
}

#form-container form #cancel {
    background-color: #E1EFE6;
    border: none;
    margin: 0;
    padding: 0;
    color: rgb(242, 84, 91);
    float: right;
}

#form-container form i {
    transition: 0.4s;
}

#form-container form i:hover {
    color: #AEB7B3;
    cursor: pointer;
}

#radio-btns {
    display: flex;
    justify-content: flex-start;
}

#form-container form #read,  #form-container form #not-read{
    height: 3vh;
    width: 1vw;
    margin: 0 0 0 2.5vw;
    padding: 0;
}

#form-container form #read-label,  #form-container form #not-read-label{
    font-size: 1.2rem;
}

#form-container form #submit {
    display: block;
    margin: 7vh auto 0 auto;
    height: 5vh;
    width: 10vw;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
    color: #160C28;
    background-color: #EFCB68;
    border: none;
    transition: 0.4s;
}

#form-container form button:focus {
    outline: none;
}

#form-container form #submit:hover {
    background-color: #AEB7B3;
    cursor: pointer;
}


form {
    margin: 0 auto;
}

#buttons {
    display: flex;
    justify-content: center;
}

#buttons #new {
    background-color: #EFCB68;
    border: none;
    transition: 0.4s;
}

#buttons #new:focus {
    outline: none;
}

#buttons #new:hover {
    color: #AEB7B3;
    cursor: pointer;
}

#all-books {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
    margin: 3vh auto;
    column-gap: 50px;
}
